/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: rgb(255, 255, 255); 
	font-size: 14px;
	color: #252b42;
	font-weight: 500;
	font-family: Montserrat;
}

/* ---------------------------------------------------------------------------- */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ---------------------------------------------------------------------------- */
._container {
	max-width: 1190px;
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/* ---ШАПКА------------------------------------------------------------------------- */
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container, .header__container-flex {
	display: flex;
	height: 104px;
	align-items: center;
	justify-content: space-between;
	color: white;
}
.logo_img {

}

.header__logo a{
	font-size: 24px;
	font-weight: 700;
	color: white;
	text-align: center;
margin-left: 10px;
}




@media (min-width: 767px) {

}

@media (max-width: 767px) {

}
@media (max-width: 479px) {

}
@media (max-width: 479px) {
}



.menu {
	padding: 5px 0;
}
.menu__list {
	flex-wrap: wrap;
	display: flex;
}

.menu__item {
}
.menu__item:not(:last-child) {
	margin: 0px 21px 0px 0px;
}
.menu__link {
	color: white;
	font-weight: 600;
	line-height: calc(24 / 14 * 100%);
	font-size: 16px;
}
.menu__link:hover {
	color: #c7b299;
}

@media (max-width: 900px) {
	/*
	.logo_img{
		width: 48px;
		height: 48px;
		margin-bottom: 250px;
	 }
	.logo_img img{
		width: 48px;
		height: 48px;
	 }
	 */
	 .header__logo {
		margin-bottom: 250px;
	 }
	 .header__container {
		 height: 300px;
		 margin-top: 20px;
	 }
	 .menu__item:not(:last-child) {
		margin: 0px 0px 20px 0px;
	}
}
@media (max-width: 900px) {
	.menu__link {
		font-size: 12px;
	}
	.header__logo a{
		font-size: 16px;
	}
	
	.menu__list{
	flex-direction: column;
	}
}
/* ---PAGE------------------------------------------------------------------------- */
.page {
	flex: 1 1 auto;
}
.page__main-block {
}
.page__services {
	position: relative;
	z-index: 2;

}
.page__advantages {
}
.page__practice {
}
.page__whoweare {
}
.page__clients:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.page__subscribe {
}
.page__getintouch {
}
.page__contact {
}


/* ---HEADER-BLOCK------------------------------------------------------------------------- */
.header-block {
	text-align: center;
	letter-spacing: 0.2px;
	color: #555555;
}
.header-block__title1 {
	line-height: 142%;
	font-weight: 700;
	font-size: 20px;
	padding: 50px 0px;
}
.header-block__title{
	line-height: 142%;
	font-weight: 700;
	font-size: 46px;
	text-align: center;
	color: #555555;
}
.header-block__title-h3 {
	color:white;
}
.header-block__title:not(:last-child) {
	
}
.header-block__sub-title {
	font-size: 14px;
	color: #8c8c8c;
}
.margin40px {
	margin: 40px;
}

@media (max-width: 992px) {
	.header-block__title {
		font-size: 35px;
	}
}
@media (max-width: 767px) {
	.header-block__title {
		font-size: 30px;
	}
}
/* ---ПОДВАЛ------------------------------------------------------------------------- */
.footer {
}
/* ---MAIN-BLOCK------------------------------------------------------------------------- */
.main-block {
	position: relative;
}
.main-block__container {
}
.main-block__body {
	padding: 184px 0px 191px 0px;
	position: relative;
	z-index: 2;
	max-width: 400px;
}
@media (max-width: 992px) {
	.main-block__body {
		padding: 120px 0px 191px 0px;
	}
}
@media (max-width: 479px) {
	.main-block__body {
		padding: 115px 0px 160px 0px;
	}
}
.main-block__body > *:not(:last-child) {
	margin: 0px 0px 35px 0px;
}

.main-block__title {
	font-size: 58px;
	line-height: 137%;
	letter-spacing: 0.2px;
	font-weight: 800;
}
@media (max-width: 479px) {
	.main-block__title {
		font-size: 42px;
	}
}
.main-block__text {
	color: #737373;
	font-size: 20px;
	line-height: 150%;
}
@media (max-width: 479px) {
	.main-block__text {
		color: #585757;
	}
}
.main-block__buttons {
	display: flex;
	flex-wrap: wrap;
	margin: -10px 0;
}
.main-block__button {
	border-radius: 37px;
	display: flex;
	min-height: 48px;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.2px;
	font-weight: 700;
	text-align: center;
	line-height: 150%;
	padding: 5px 36px;
	margin: 10px 0;
	transition: all 0.3s ease 0s;
}

@media (max-width: 479px) {

	.main-block__button {
		flex: 1 1 100%;
	}

}



@media (min-width: 479px) {
	.main-block__button:not(:last-child) {
		margin-right: 10px;
	}
}
.main-block__button_orange {
	background: #ff7b47;
	color: #fff;
}
.main-block__button_orange:hover {
	background-color: #fff;
	color: #ff7b47;
}
.main-block__button_border {
	color: #0d5c63;
	border: 1px solid #0d5c63;
}
.main-block__button_border:hover {
	background-color: #0d5c63;
	color: #fff;
}
.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*opacity: 0.8;*/
}

@media (max-width: 1300px) {
	.main-block__image img {
		object-position: right;
	}
}
@media (max-width: 992px) {
	.main-block__image {
		opacity: 0.5;
	}
}

.wrap {
	position: relative;
	width: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
}

.slider {
	
    overflow: hidden;
  position: relative;
  height: auto;
}

.navigation {
    position: absolute;
	bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}


.bar {
    width: 15px;
    height: 15px;
    margin: 5px;
    cursor: pointer ;
    background-color: #949496;
    opacity: .8;
    border-radius:  25px;
    transition: all .4s ease;

}

.bar:hover {
    background-color: white;
    transform: scale(1.1);
}

.services__container-bar {
    width: 100px;
    height: 5px;
margin-top: 30px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
    cursor: pointer ;
    background-color: #949496;
    opacity: .8;
    border-radius:  25px;
    transition: all .4s ease;

}
.services__container-bar:hover {
    background-color: #c7b299;
}


/*
.bar:visited {
	background-color: transparent;
   border: 1px solid #c7b199;
   transform: scale(1.1);
}*/

input[name="r"]{
    position: absolute;
    display: none;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
	

}
.slides .slide {
	width: 25%;
	transition: all .6s ease;
}

.slides .slide img {
max-width: 100%;
height: auto;
filter: brightness(0.6);
filter: sepia(0.5);
}

.bar:enabled {
	background-color: transparent;
   border: 1px solid #c7b199;
   transform: scale(1.1);
}

#r1:checked ~ .s1 {
    margin-left: 0%;
}

#r1:checked ~ .s1 {
    margin-left: -25%;
}

#r2:checked ~ .s1 {
    margin-left: -50%;
}
#r3:checked ~ .s1 {
    margin-left: -75%;
}



@media (max-width:426px) {
	.wrap {
		max-height: 100vh;
	}
	.main-block {
		height: 100vh;
		position: relative;
	}
	.slider {
		overflow: hidden;
		position: relative;
		height: 100vh;
	}
	.slides {
		width: 400%;
		height: 100vh;
		object-fit: contain;	
	}
	.slides .slide img {
height: 100vh;
		filter: brightness(0.6);
		filter: sepia(0.5);
		}
		.menu__list {
			display: none;
		}
		.header__container, .header__container-flex {

			align-items: flex-start;
			justify-content: center;

		}

}
/* ----------------------------------- */
.services {
}
.services__container {
	
}
.services__body {
	display: flex;
    flex-wrap: wrap;
	margin: 0px -15px -30px;
}

.services__column {

	padding: 0px 15px;
	margin: 0px 0px 30px 0px;
	flex: 0 1 25%;
}

@media (min-width: 670px) {
	.services__column {
		padding: 0px 15px;
	}
}

@media (max-width: 1060px) {
	.services__column {
		flex: 0 1 50%;
	}
	.services__column:not(:last-child) {
		margin: 0px 0px 30px 0px;
	}
	.services__column:last-child {
		flex: 1 1 100%;
	}
}
.services__item {
	height: 100%;
	background-color: #fff;
text-align: center;
}


@media (max-width: 479px) {
	.services__item {
		padding: 25px;
	}
}



.item-service > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.item-service__icon {
	text-align: center;
	color: #555555;
}
.item-service__title {
	font-weight: 700;
	letter-spacing: 0.1px;
	font-size: 24px;
	line-height: 133%;
	color: #555555;
	text-align: center;

}
.item-service__text {
	color: #737373;
	line-height: 142%;
}
/* --------------------------------------------- */
.advantages {
	
}
@media (max-width: 992px) {
	.advantages {
		padding: 50px 0;
	}
}
@media (max-width: 767px) {
	.advantages {
		padding: 40px 0;
	}
}
.advantages__container {
}
.advantages__header {
	margin: 0px 0px 60px 0px;
	max-width: 100%;
	background-color: black;
}
@media (max-width: 767px) {
	.advantages__header {
		margin: 0px 0px 25px 0px;
	}
}
.advantages__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px -30px;
}
.advantages__body1{
	display: flex;
	flex-wrap: wrap;
	margin: 40px 0px 0px 0px;
}



.advantages__column {
	padding: 0px 15px;
	margin: 30px 0px 30px 0px;
	flex: 0 1 20%;
}

.advantages__column1 {
	padding: 0px 15px;
	margin: 30px 0px 30px 0px;
	flex: 0 1 25%;
}
.advantages__column1:hover h3{
color: #c7b299;
}
.advantages__column1:hover .services__container-bar{
	background-color: #c7b299;
	}
@media (max-width: 1020px) {
	.advantages__column1 {
		flex: 0 1 50%;
	}
}
@media (max-width: 560px) {
	.advantages__column1 {
		flex: 0 1 100%;
	}
}
.advantages__item1 {
	background-color: #fff;
	color: #615755;
	font-weight: 700;
	text-align: center;
}

.advantages__item {

	padding: 20px;
	font-weight: 700;
	text-align: center;

}

.advantages__icon {
	height: 48px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	
}
.advantages__value {
	font-size: 25px;
	color: #555555;
}

.advantages__value1 {
	font-size: 25px;
	color: white;
}
.advantages__value11f {
	font-size: 14px;
	color: #c7b299;
}
@media (max-width: 3000px) {
	.advantages__body1 {
		margin: 72px 0px 30px 0px;
	}
	.advantages__value{
		font-size: calc(20px + (5 + 5 * 0.7) * ((100vw - 320px) / 1190));
		padding: 20px 0px;
	}
}
@media (max-width: 767px) {
	.advantages__body1 {
		margin: 42px 0px 0px 0px;
	}
	.advantages__value {
		font-size: calc(20px + (5 + 5 * 0.7) * ((100vw - 320px) / 1190));
		padding: 5px 0px;
	}
}
.advantages__text {
	letter-spacing: 0.1px;
	color: #737373;
	font-size: 16px;
	line-height: 150%;
}
.advantages__text1 {
	letter-spacing: 0.1px;
	color: #c8b29a;
	font-size: 16px;
	line-height: 150%;
}
/* -------------Accordion------------------- */


.accordion {
	max-width: 500px;
	text-align: start;
}
.accordion-tab input, .accordion-tab-content { display: none;text-align: start;
margin-left: 20px; }
.accordion-tab {
font-size: 14px; 
border-radius: 3px; /* Скругляем уголки */

margin-bottom: 10px; /* Расстояние между пунктами */
}
.accordion-tab-title {
padding: 10px; /* Поля вокруг текста */
display: block; /* Блочный элемент */
text-transform: uppercase; /* Все буквы заглавные */
font-weight: bold; /* Жирное начертание */
cursor: pointer; /* Вид курсора */
margin-right: 20px;
color: #8c8c8a;
}
.accordion-tab-title::before {
content: '\2192'; /* Выводим плюс */
float: left; /* Размещаем по правому краю */
margin-right: 20px;
}
.accordion-tab-content {
padding: 10px 20px; /* Поля вокруг текста */
}
.accordion-tab :checked + .accordion-tab-title {
background-color: #c7b199; /* Цвет фона */
border-radius: 3px 3px 0 0; /* Скругляем уголки */
color: #fff; /* Цвет текста */
}
.accordion-tab :checked + .accordion-tab-title::before {
content: '\2191'; /* Выводим минус */
}
.accordion-tab :checked ~ .accordion-tab-content {
display: block; /* Показываем содержимое */
}



@media (max-width: 426px) {
	.accordion-tab-title, .accordion-tab-content {
		font-size: 10px;
	}
}







/* -------------------------- */
.practice {
	padding: 75px 0px 40px 0px;
}
@media (max-width: 993px) {
	.practice {
		padding: 40px 0px 80px 0px;
	}
}
@media (max-width: 767px) {
	.practice {
		padding: 0px 0px 40px 0px;
	}
}

.practice__container {
}
.practice__header {
	margin: 0px 0px 45px 0px;
}
@media (max-width: 767px) {
	.practice__header {
		margin: 0px 0px 25px 0px;
	}
}

.practice__body {
	margin: 0px -20px -30px;
	display: flex;
	flex-wrap: wrap;
}
.practice__column {
	padding: 0px 20px;
	margin: 0px 0px 30px 0px;
	flex: 0 1 25%;
}

@media (max-width: 1040px) {
	.practice__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 630px) {
	.practice__column {
		flex: 0 1 100%;
	}
}


.practice__item {
}

.item-practice {
	background-color: #fff;
	display: flex;
	height: 100%;
	flex-direction: column;
}
.item-practice__content {
	padding: 30px;
	flex: 1 1 auto;
}
.item-practice__link {
	color: inherit;
	display: inline-block;
}
.item-practice__link:hover {
	text-decoration: underline;
}
.item-practice__link:not(:last-child) {
	margin: 0px 0px 15px 0px;
}
.item-practice__title {
	letter-spacing: 0.1px;
	font-size: 16px;
	font-weight: 700;
	line-height: 150%;
}
.item-practice__text {
	color: #737373;
	line-height: 142%;
}
.item-practice__image {
	display: block;
	padding: 0px 0px 60% 0px;
}
/* ------------------------------------- */




.whoweare {
	background: #f8f8f6;
	padding: 30px 0px 0px 0px;
}
.whoweare__container {
}
.whoweare__header {
}
.whoweare__body {
	display: flex;
	align-items: center;
}
.whoweare__video {
	flex: 0 0 57%;
	position: relative;

}

.whoweare__content {
	flex: 1 1 auto;
	padding: 20px 0px 0px 121px;
}
.whoweare__title {
	font-weight: 800;
	font-size: 40px;
	line-height: 142%;
	letter-spacing: 0.2px;
}
.whoweare__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}

.whoweare__text {
	color: #737373;
	line-height: 142%;
}
.whoweare__top:not(:last-child) {
	margin: 0px 0px 50px 0px;
}
.whoweare__items {
}
.whoweare__item {
}
.whoweare__item:not(:last-child) {
	margin: 0px 0px 30px 0px;
}

.item-whoweare {
	display: flex;
}
.item-whoweare__icon {
	flex: 0 0 32px;
}
.item-whoweare__body {
	flex: 1 1 auto;
	padding: 0px 0px 0px 20px;
}
.item-whoweare__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
}
.item-whoweare__title:not(:last-child) {
	margin: 0px 0px 5px 0px;
}
.item-whoweare__text {
	color: #737373;
	white-space: nowrap;
	line-height: 142%;
	width: 225px;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media (max-width: 1080px) {
	.whoweare__content {
		padding: 0px 0px 0px 50px;
	}
}
@media (max-width: 950px) {
	.accordion {

	}
	.whoweare__body {
		flex-direction: column-reverse;
		
	}
	.whoweare__title {
		font-size: 24px;
	}
	.whoweare__content {
		padding: 0px 0px 0px 0px;
	}

	.whoweare__video:not(:last-child) {
	
	}
	.whoweare__header {

	}
}
@media (max-width: 426px) {

	.whoweare__video img {
	width: 300px;
	}
}
/* -------------Recent-Posts---------------------- */

.Post_slides-wrap {
    display: flex;
    flex: 0 1 100%;
    max-width: 100%;
flex-wrap: wrap;
}
.Post_slider {


    overflow: hidden;
   
}



.Post_slider_navigation {
    position: relative;
    bottom: 30px;

    display: flex;
    justify-content: center;
}

.Post_slider_bar {
    width: 15px;
    height: 15px;
    margin: 5px;
    cursor: pointer ;
    background-color: #949496;
    opacity: .8;
    border-radius:  25px;
    transition: all .4s ease;

}
.Post_slider_bar:hover {
    background-color: white;
    opacity: 1;
    transform: scale(1.1);

}

input[name="Post_slider_slides"]{
    position: absolute;
    display: none;
}

.Post_slider_slides {
    max-width: 100%;

    display: flex;
    flex-direction: column;
    border: 1px solid black;
 
}


.Post_slider_slide {
 max-width: 100%;
transition: all .6s ease;
}
.Post_slider_slide img{
    max-width: 100%;
    max-height: 427px;
   transition: all .6s ease;
   }

.Ps1 {
    transition: all .6s ease;
}
.Ps2, .Ps3, .Ps5, .Ps6, .Ps8, .Ps9{
    display: none;
}

#Pr1:checked ~ .Ps1 {
    
}
#Pr2:checked ~ .Ps1{
    display: none;
}
#Pr2:checked ~ .Ps2{
    display: block;
}
#Pr3:checked ~ .Ps1, #Pr3:checked ~ .Ps2 {
    display: none;
}
#Pr3:checked ~ .Ps3{
    display: block;
}

#Pr4:checked ~ .Ps4 {
    
}
#Pr5:checked ~ .Ps4{
   display: none;
}
#Pr5:checked ~ .Ps5{
   display: block;
}
#Pr6:checked ~ .Ps4, #Pr6:checked ~ .Ps5 {
   display: none;
}
#Pr6:checked ~ .Ps6{
   display: block;
}


#Pr7:checked ~ .Ps7 {
    
}
#Pr8:checked ~ .Ps7{
   display: none;
}
#Pr8:checked ~ .Ps8{
   display: block;
}
#Pr9:checked ~ .Ps7, #Pr9:checked ~ .Ps8 {
   display: none;
}
#Pr9:checked ~ .Ps9{
   display: block;
}

.header-block {
	text-align: center;
	letter-spacing: 0.2px;
	color: #555555;

}
.header-block__title11 {
	line-height: 142%;
	font-weight: 700;
	font-size: 46px;
	text-align: center;
	color: white;
    padding: 20px;
	z-index: 2;
}
.header-block__title1 {
	line-height: 142%;
	font-weight: 700;
	font-size: 46px;
	text-align: center;
	color: white;
    padding: 20px;

}

.header-block__sub-title {
	font-size: 14px;
	color: #8c8c8c;
}
.header-block__sub-title1 {
	font-size: 14px;
	color: #8c8c8c;
    padding: 20px;
}
.header-block-title1 {
	font-size: 14px;
	color: white;
    padding: 20px;
	z-index: 2;
}

.header-block__sub-title11 {
	font-size: 12px;
	color: #c7b299;
    padding: 20px;
	z-index: 2;
}

.advantages__text1 {
	letter-spacing: 0.1px;
	color: #c8b29a;
	font-size: 16px;
	line-height: 150%;
}

.Post_slider:hover {
    background-color: #372f2d;
}

.Post_slider:hover h2{
color: #c8b29a;
}

.Post_slider:hover p{
    color: white;
}

.Post_slider {
	flex: 0 1 33.33%;
}

@media (max-width: 1025px) {
	.practice {
		padding: 25px 0px 80px 0px;
	}
	.Post_slider {
		margin: 0;
	}
	.Post_slider .header-block__title{
		padding: 0;
	}
	.Post_slider .header-block__sub-title1 {
		padding: 10px;
	}
	
}
@media (max-width: 426px) {
	.practice{
		padding: 0px;
	}

}



@media (max-width: 769px) {
	.Post_slider h2 {
		font-size: 30px;
	}

}

@media (max-width: 760px) {
	.Post_slider {
		flex: 0 1 50%;
	}
	.Post_slides-wrap {
		justify-content: center;
	}
}


@media (max-width: 426px) {
	.Post_slider h2 {
		font-size: 20px;
	}
	.Post_slider {
		flex: 0 1 100%;
	}
}



/*------------------------------------------*/
.page_Sponsors {
max-width: 100%;
max-height: 700px;
}
.page_Sponsors-contact__body {
	max-width: 100%;
	max-height: 700px;
	background-image: url(bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	filter: brightness(0.6);
	filter: sepia(0.5);
display: flex;
flex:  0 1 100%;
}
.page_Sponsors-contact__body1 {
	max-width: 100%;
	max-height: 700px;
	filter: sepia(0.4);
display: flex;
justify-content: center;
align-items: center;
}

.contact__container2 {
	max-width: 100%;

	
}
.clients {
	padding: 50px 0;
}
@media (max-width: 767px) {
	.clients {
		padding: 30px 0;
	}
}
.clients__container {
}

.clients__items {
	display: flex;
	flex: 0 1 100%;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
margin: 150px 0px;
}
.clients__item {
	padding: 8px 15px;
	flex: 0 1 20%;
	text-align: center;
	min-width: 140px;
}
.clients__item img {
	max-width: 100%;
	filter: brightness(1);
}


@media (max-width: 1025px) {
	.page_Sponsors-contact__body {

	}
	.clients__items {
		margin: 75px 0px;
	}

}

/* ----------------------------- */

/* ------------------------------------------ */
.contact__body {
	max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
	flex: 0 1 100%;
	align-items: center;
	justify-content: space-between;
}
.contact {
	background-color: #fff;
	padding: 42px 0;
}
.contact__container{
	max-width: 100%;
	max-height: 150px;
	padding: 0;
	background: linear-gradient(to right, #211c19 , #4e3427);
	display: flex;
	align-items: center;
	justify-content: center;
} 
.contact__container1{
	max-width: 100%;
	padding: 0;
	background: linear-gradient(to right, #211c19 , #4e3427);
	display: flex;
	align-items: center;
	justify-content: center;
}
.contact__container2{
	max-width: 100%;
	padding: 0;
	background-image: url();
	background-size: contain;
	display: flex;
	align-items: center;
	justify-content: center;
}


.contact__content {
	flex: 0 1 70%;
}



.contact__title {
	flex: 0 1 30%;
	line-height: 142%;
	font-weight: 700;
	font-size: 25px;
color:white;
}
.contact__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.contact__text {
	color: #737373;
	line-height: 142%;
	font-size: 14px;
}
.contact__button {
	display: flex;
	background-color: #998675;
	border-radius: 5px;
	min-height: 40px;
	padding: 5px 30px;
	transition: background-color 0.3s ease 0s;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	margin-bottom: 15px;
}
.contact__button:hover {
	background-color: #9986757a;
}
@media (max-width: 769px) {
	.contact__title {
	padding-bottom: calc(5px + (45 + 45 * 0.7 ) * ((100vw -320px) /1190));
	padding-top: calc(5px + (45 + 45 * 0.7 ) * ((100vw -320px) /1190));;
	}
	.contact__body {
		justify-content: center;
	}
}
@media (min-width: 1190px) {
	.contact__title {
	padding-bottom: calc(30px + (20 + 20 * 0.7 ) * ((100vw -320px) /1190));
	padding-top: calc(30px + (20 + 20 * 0.7 ) * ((100vw -320px) /1190));;
	}
}

@media (min-width: 767px)and (max-width: 1189px) {
	.contact__title {
	padding-bottom: calc(15px + (35 + 35 * 0.7 ) * ((100vw -320px) /1190));
	padding-top: calc(15px + (35 + 35 * 0.7 ) * ((100vw -320px) /1190));;
	}
}
@media (min-width: 320px)and (max-width: 767px) {
	.contact__title {
	padding-bottom: calc(1px + (49 + 49 * 0.7 ) * ((100vw -320px) /1190));
	padding-top: calc(1px + (49 + 49 * 0.7 ) * ((100vw -320px) /1190));;
	}
}
@media (max-width: 426px) {
	.contact__title {
	text-align: center;
	}

	.contact__body {
		justify-content: center;
	}
	.contact__container {
		max-height: 300px;
	}
}
/*-----------------------gallery-----------------------------*/



h1 {
    font-size: 50px;
    word-break: break-all;
}

.gallery_main_block {
	position: relative;

display: flex;
flex-direction: column;
justify-content: flex-start;
}
.main-block {
	position: relative;
}
.gallery_row {

    overflow: hidden;
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
}

.gallery_row-slides {
    width: 100%;
    height: 100%;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.gallery_row-slide {
	transition: all .6s ease; 
    height: 100%;
    max-width: 30%;
	transition: all .6s ease;
}

.gallery_row-slide img {
max-width: 100%;
height: auto;
}
.bg-img {
	max-width: 100%;
height: auto;
z-index: 1;
}
.gallery_row-slides img {

	width: 400px;
}

.gallery_main_block {
	position: relative;
	width: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
}





.gallery-bar1, .gallery-bar2, .gallery-bar3, .gallery-bar4, .gallery-bar5{
    color: black;
    transition: all 0.1s ease;

    border-radius: 5px;
      border: none;
      outline: none;

      background-color: white;
      cursor: pointer;
    
      text-align: center;
		font-size: 14px;
		padding: 10px 15px;

}
.gallery-bar {
	margin: 3vw 3vw;
}
@media (max-width: 1050px) {
	.gallery-bar {
		margin: 2vw 4vw;
	}
}
@media (max-width: 890px) {
	.gallery-bar {
		margin: 2vw 2.9vw;
	}
}
@media (max-width: 780px) {
	.gallery-bar {
		margin: 2vw 10vw;
	}

}
@media (max-width: 426px) {
	.gallery-bar {
		margin: 5vw 3vw;
	}
}


.gallery-bar1:hover, .gallery-bar2:hover, .gallery-bar3:hover, .gallery-bar4:hover, .gallery-bar5:hover{
    background-color: #998675;
  
}
label:active {
 
    background-color: #372f2d;
}

input[name="rr"]{
    position: absolute;
    display: none;
}


.gallery_row-slide {

}

.gallery_row-slide_box1, .gallery_row-slide_box2, .gallery_row-slide_box3,
.gallery_row-slide_box4, .gallery_row-slide_box5, .gallery_row-slide_box6, 
.gallery_row-slide_box7, .gallery_row-slide_box8, .gallery_row-slide_box9,
.gallery_row-slide_box10, .gallery_row-slide_box11, .gallery_row-slide_box12 {
    border: 1px solid black;
    padding-bottom:calc(30px + (25 + 25 * 0.7) * ((100vw - 320px) / 1190));
    margin-bottom: 18px;
	background-color: #fcfbf9;
}

.gallery_row-slide h4{
	color: rgb(199,179,154);
	margin: 20px 20px;
	font-size: 20px;
	}
	.gallery_row-slide p{
		color: #d1d1d1;
		margin: 20px 20px;
		font-size: 14px;
		}

	.gallery_row-slide:hover{
	background-color: rgb(55,47,45);
	}
	.gallery_row-slide:hover h4{
		color: white;
		}
		.gallery_row-slide:hover p{
			color: #c7b299;
			}
	.gallery_row-slide:hover img{
		opacity: 0.5;
		filter: opacity(.5);
		}


.ss1, .ss2, .ss3, .ss4 {
	transition: all .6s ease;
}

#gallery-r1:checked ~ .ss2, #gallery-r1:checked ~ .ss3, #gallery-r1:checked ~ .ss4{
	display: none;
	
}
#gallery-r1:checked ~ .ss1{
	transform: translateY(-5%);
 }
#gallery-r2:checked ~ .ss1,  #gallery-r2:checked ~ .ss3, #gallery-r2:checked ~ .ss4 {
	display: none;
 }
 #gallery-r2:checked ~ .ss2{
     transform: translateY(-5%);
  }



#gallery-r3:checked ~ .ss1, #gallery-r3:checked ~ .ss2, #gallery-r3:checked ~ .ss4{
	display: none;
}

#gallery-r3:checked ~ .ss3{
    transform: translate(0%,-5%);
}


#gallery-r4:checked ~ .ss1, #gallery-r4:checked ~ .ss2, #gallery-r4:checked ~ .ss3{
    display: none;
}

#gallery-r4:checked ~ .ss4{
    transform: translate(0%,-5%);
}


@media (max-width: 767px ) {


	.gallery_row-slide h4{
		color: rgb(199,179,154);
		margin: 10px 0px;
		font-size: 14px;
		}
		.gallery_row-slide p{
			color: #d1d1d1;
			margin: 0px 0px;
			font-size: 10px;
			}
.gallery_row-slide_box1, .gallery_row-slide_box2, .gallery_row-slide_box3,
.gallery_row-slide_box4, .gallery_row-slide_box5, .gallery_row-slide_box6, 
.gallery_row-slide_box7, .gallery_row-slide_box8, .gallery_row-slide_box9,
.gallery_row-slide_box10, .gallery_row-slide_box11, .gallery_row-slide_box12 {
padding-bottom: 10px;
}
}
/* -----------------video----------------------------- */


.video__container {
	max-width: 100%;
    padding: 0;
	max-height: 700px;
}
.video__body {
	max-width: 100%;
	max-height: 700px;
}

.video-container {
	max-width: 100%;
	height: 700px;
	background-image: url(1.jpg);
	background-size: cover;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-info {
	padding: 50px 0px;
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
}



@media(max-width: 1025px) {
	.video {
	height: 300px;
	}
}


/* ---------------------------------------------- */


.footer {
}
.footer__top {
	background: #17213c;
	padding: 35px 0;
}
.footer__main {
}
.footer__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}
.footer__column {
	padding: 15px 15px;
	flex: 0 1 16.6667%;
}
.footer__column:last-child {
	flex: 0 1 33.334%;
}
@media (max-width: 992px) {
	.footer__column {
		flex: 0 1 25%;
	}
	.footer__column:last-child {
		flex: 1 1 100%;
	}
}
@media (max-width: 992px) {
	.footer__column {
		flex: 0 1 50%;
	}
}

.footer__label {
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	margin: 0px 0px 20px 0px;
}
.footer__menu {
}

.menu-footer {
}
.menu-footer__list {
}
.menu-footer__item:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.menu-footer__link {
	color: #fff;
	display: inline-block;
	line-height: 171%;
	letter-spacing: 0.2px;
}
.menu-footer__link:hover {
	text-decoration: underline;
}

.footer__contacts {
}

.contacts-footer {
	display: flex;
	flex-direction: column;
}
.contacts-footer__item {
	padding: 0px 0px 0px 34px;
	line-height: 142%;
	display: flex;
	align-items: center;
	color: #ffffff;
	min-height: 30px;
}
.contacts-footer__item:hover {
	text-decoration: underline;
}
.contacts-footer__item:not(:last-child) {
	margin: 0px 0px 12px 0px;
}
.contacts-footer__item_phone {
	background: url("../img/footer/icons/01.svg") 0 0 no-repeat;
}
.contacts-footer__item_map {
	background: url("../img/footer/icons/02.svg") 0 0 no-repeat;
}
.contacts-footer__item_email {
	background: url("../img/footer/icons/03.svg") 0 0 no-repeat;
}
.footer__bottom {
	max-width: 100%;
}
.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #111111;
	max-width: 100%;
	
}
.footer__copy {
	color: #737373;
	line-height: 171%;
	padding: 30px 0px;
}
.footer__social {

}

.social {
	display: flex;
	align-items: center;
}
.social__item:not(:last-child) {
	margin: 0px 50px 0px 0px;
}
@media (max-width: 767px) {
	.footer__container {
		flex-direction: column;
	}
	.footer__copy {
		margin: 0px 0px 15px 0px;
		text-align: center;
	}
	.footer__social {
		padding-bottom: 10px;
	}
}

::selection {
    background: #c7b299; /* Цвет фона */
    color: black; /* Цвет текста */
   }