*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: rgb(372f2d);
	font-size: 14px;
	color: #252b42;
	font-weight: 500;
	font-family: Montserrat;
}

.slider {
    width: 250px;
    height: 150px;
    overflow: hidden;
    border: 2px solid black;
}



.navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 15px;
    height: 15px;
    margin: 5px;
    cursor: pointer ;
    background-color: #949496;
    opacity: .8;
    border-radius:  25px;
    transition: all .4s ease;

}
.bar:hover {
    background-color: white;
    opacity: 1;
    transform: scale(1.1);

}

input[name="slides"]{
    position: absolute;
    display: none;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}
.slide {
    width: 25%;
transition: all .6s ease;
}



#r1:checked ~ .s1 {
    margin-left: 0;
}
#r2:checked ~ .s1 {
    margin-left: -25%;
}
#r3:checked ~ .s1 {
    margin-left: -50%;
}
#r4:checked ~ .s1 {
    margin-left: -75%;
}